.apresentation {
  margin-top: 20rem;
}

.apresentation > .title {
  font-size: 3rem;

  color: var(--Dark-gray);

  text-align: center;
}

.apresentation > .description {
  width: 40%;

  text-align: center;

  margin: 2rem auto;

  font-size: 1.5rem;

  line-height: 2.5rem;

  color: var(--Light-gray);
}

.apresentation > .informations {
  display: flex;
  
  margin-top: 5rem;
}

.apresentation > .informations > .div-image {
  background-color: blue; 
}

.apresentation > .informations > .itens {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: yellow;
}