.apresentation {
  margin-top: 15rem;
}

.apresentation > .title {
  font-size: 3rem;

  color: var(--Dark-gray);

  text-align: center;
}

.apresentation > .description {
  width: 40%;

  text-align: center;

  margin: 2rem auto;

  font-size: 2rem;

  line-height: 3.5rem;

  color: var(--Light-gray);
}

.apresentation > .informations {
  display: flex;

  margin-top: 5rem;

  position: relative;
}

.apresentation > .informations > img {
  width: 50%;

  /* PESQUISAR SE É CONSIDERADO BOAS PRÁTICAS */
  position: absolute;
  left: -2%;
}

.apresentation > .informations > .itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;

  /* PESQUISAR SE É CONSIDERADO BOAS PRÁTICAS */
  position: absolute;
  left: 65%;
  transform: translate(-50%, 25%);
}

.apresentation > .informations > .itens > .item {
  margin-left: 7rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.apresentation > .informations > .itens > .item > .subtitle {
  font-size: 3rem;

  color: var(--Dark-gray);
}

.apresentation > .informations > .itens > .item > .description {
  font-size: 1.7rem;

  width: 60%;

  line-height: 2.7rem;

  margin-top: 1rem;

  color: var(--Light-gray);
}
