.potential > .title {
    color: var(--Dark-gray);
    
    font-size: 3.8rem;
    
    text-align: center;
}

.potential > .description {
    width: 40%;
    
    text-align: center;
    
    margin: 2rem auto;
    
    font-size: 2rem;
    
    line-height: 3.5rem;
    
    color: var(--Light-gray);
}

.potential > .informations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    width: 100%;
    
    margin: 10rem auto;

    background-color: red;
}

.potential > .informations > .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.potential > .informations > .item > img {
    width: 6rem;
}

.potential > .informations > .item > .subtitle {
    color: var(--Dark-gray);

    margin-top: 4rem;
    
    font-size: 2.8rem;
}

/* Acredito que a descrição não está deixando eu alinhar os itens, pois cada descrição tem um tamanho diferente. 
Para resolver isso, podemos definir uma altura fixa para as descrições e usar o `display: flex` para alinhar os itens verticalmente. */

.potential > .informations > .item > .description {
    color: var(--Light-gray);
    
    font-size: 2rem;

    line-height: 4rem;

    text-align: center;

    margin: 3rem auto;
}

.potential > .informations > .item > .description.-first {
    width: 65%;
}

.potential > .informations > .item > .description.-second, 
.potential > .informations > .item > .description.-third {
    width: 75%;
}
